<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DogGo">
        <activity
            android:name=".MascotasActivity"
            android:exported="false" />
        <activity
            android:name=".MiPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".ChatIndividual"
            android:exported="false" />
        <activity
            android:name=".DB2ChatPaseador"
            android:exported="false" />
        <activity
            android:name=".DashboardPaseador"
            android:exported="false" />
        <activity
            android:name=".SolicitudPaseador"
            android:exported="false" />
        <activity
            android:name=".PerfilPaseador"
            android:exported="false" />
        <activity
            android:name=".DA3AnadirNuevaMascota"
            android:exported="false" />
        <activity
            android:name=".DA2AnadirMascotas"
            android:exported="false" />
        <activity
            android:name=".HomeDuenio"
            android:exported="false" />
        <activity
            android:name=".DA1PerfilDuenio"
            android:exported="false" />
        <activity
            android:name=".C1SeleccionRol"
            android:exported="false" />
        <activity
            android:name=".B1Login"
            android:exported="false" />
        <activity
            android:name=".A1Bienvenida"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>